<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XuLy.Properties.Settings.QuanLiDiaConnectionString"
            connectionString="Data Source=DESKTOP-POVMTPD\SERVER;Initial Catalog=QuanLiDia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="XuLy.Properties.Settings.QLDiaConnectionString" connectionString="Data Source=DESKTOP-POVMTPD\SERVER;Initial Catalog=QLDia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>